* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/c31c3123-3df7-4359-8b8c-475bd2d9925d/15feb590-3d73-45e9-9e4a-2eb334c83921/IN-en-20231225-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-position: center center;
    max-width: max(1200px, 100vw);
    height: 93vh;
    position: relative;
}

.dubby {
    background-color: black;
    opacity: 0.67;
    height: 93vh;
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    max-width: 76vw;
    margin: auto;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    gap: 10px;
}

nav .btn {
    display: flex;
    align-items: center;
}


nav>div:nth-child(2) {
    display: flex;
    gap: 13px;
}

.btn {
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-trans {
    background: transparent;
    color: rgb(255, 255, 255);
    gap: 15px;
    border-color: rgba(255, 251, 251, 0.443);
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-trans input {
    padding: 19px 100px 17px 7px;
    background: transparent;
    border-radius: 4px;
    border: 2px solid gray;

}

.btn-red {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
}

.topLeft {

    z-index: 18;
    color: red;
}

.flex {
    text-align: center;
    margin: auto;
    color: white;
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    width: 80vw;
    gap: 24px;
    margin-top: 120px;
}

.flex>div:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
}

.flex>div:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}

.flex span {
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

.flex>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.seperator {
    height: 8px;
    background-color: rgb(40, 39, 39);
}

.first {
    display: flex;
    gap: 20px;
    max-width: 80vw;
    margin: auto;
    padding: 50px;
    align-items: center;
}

.text>div:nth-child(1),
.faq>div:nth-child(1) {
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
}

.text>div:nth-child(2),
.faqBox {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}

.first .srcImg {
    position: relative;
    z-index: 0;
}

.first .srcImg video {
    position: absolute;
    top: 95px;
    right: 83px;
    z-index: -1;
}


.box {
    display: flex;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: 370px;
    justify-content: space-between;
    align-items: center;
    left: 169px;
    width: 20vw;
}

.second .srcImg {
    position: relative;
}

.box>img {
    width: 58px;
    padding: 5px;
}

.box div::first-line {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

.box div:nth-child(2) {
    color: #0071eb;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
}

.third .srcImg video {
    position: absolute;
    top: 54px;
    right: 119px;
    z-index: -1;
    width: 27vw;
}

.faq>div:nth-child(1) {
    text-align: center;
    padding: 20px;
}

.faqBox {
    margin: auto;
    width: 73vw;
    background-color: #474747;
    color: white;
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.faq {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 50px;
}

.flexbottom {
    margin-top: 0px;
    padding: 50px;
}

footer {
    display: flex;
    color: gray;
    flex-direction: column;
    align-items: normal;
    max-width: 70vw;
    margin: auto;
    padding: 80px;
    gap: 27px;
}

a {
    color: gray;
}

.tablesec {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tablesec div {
    display: flex;
    justify-content: space-between;
}